
@{
    ViewBag.Title = "Inicio";
}

<div class="container">

    <div class="col-sm-12 my-5 text-center">
        <h2 class="font-weight-bold">
            Maitreyi Pérez
        </h2>
    </div>

</div>
